
<h3>Logout from your account</h3>
<p>In build method of ember-simple-auth. More details can be found under <em>app/authenticators/mu-semtech.js</em> invalidate function.</p>

<button type="button" {{on 'click' this.logout}}>logout</button>
